%box-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
%glassmorphism{
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.15),rgba(255, 255, 255, 0.4));
    backdrop-filter: blur(3px) brightness(120%);/* 模糊 明亮度 */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15); /* 容器外圍陰影 */

}